<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryan Mathisen</title>

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="bg-img"></div>
    @Html.Partial("_Navbar")
    <div class="nav-spacing"></div>
    @RenderBody()
</body>
</html>
