<div class="navbar">
    <a target="_blank" href="https://github.com/rtmath">
        <div class="nav-circle">
        </div>
    </a>
    <a class="nav-title" href="/">
        Ryan Mathisen
    </a>

    <a class="nav-projects" href="/Home/Projects">
        Projects
    </a>

    <a class="nav-about" href="/Home/About">
        About
    </a>
</div>