html {
    height: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    min-width: 550px;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.bg-img {
    height: 100vh;
    width: 100%;
    background-image: url("../img/city.jpeg");
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    filter: grayscale(60%);
    z-index: -1;
}

.project-header {
    font-family: monospace;
    color: white;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    flex-direction: row;
}

.project-card-wrapper {
    flex: 50%;
    width: 50%;
    min-width: 400px;
}

.project-card {
    border: 3px solid #669999;
    max-width: 400px;
    min-width: 400px;
    margin: auto;
    text-align: center;
    height: 500px;
    margin-bottom: 5%;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 5px black;
}

.project-card {
    cursor: pointer;
}

.card-title {
    font-size: 1.6em;
    font-family: monospace;
}

.card-author {
    font-size: 1.2em;
    font-family: monospace;
}

.card-space {
    width: 100%;
    height: 300px;
    background-color: #669999;
}

.card-mini-flex-bottom {
   width: 100%;
   display: flex;
   position: absolute;
   bottom: 0;
   margin-bottom: 5px;
   height: 35px;
   line-height: 35px;
}

.card-updated-date {
    flex: 50%;
}

.card-stars {
    flex: 50%;
}

.card-stars img {
    height: 32px;
    width: 30px;
}

.center-content {
    text-align: center;
}

.border-gradient-tobottom {
    width: 100%;
    height: 6px;
    background: linear-gradient(to bottom, black, #669999);
}

.border-gradient-totop {
    width: 100%;
    height: 2px;
    background: linear-gradient(to top, black, #669999);
}

/*---------Nav-Bar---------*/

.navbar {
    height: 45px;
    width: 100%;
    background-color: black;
    position: relative;
    line-height: 45px;
    box-shadow: 1px 1px 10px black;
    color: white;
}

.nav-circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: translateY(-10px);
    background-image: url("../img/git.png");
    background-size: cover;
    box-shadow: 3px 3px 5px black;
}

.nav-spacing {
    height: 50px;
}

.navbar > a {
    text-decoration: none;
    color: white;
}

.navbar > a:visited {
    color: white;
}

.navbar > a:active {
    color: white;
}

.nav-title {
    font-size: 1.8em;
    margin-left: 5%;
    color: black;
    font-weight: bold;
}
.nav-about {
    float: right;
    margin-right: 5%;
}

.nav-projects {
    float: right;
    margin-right: 5%;
}

/*-----About-----*/

.about-container-content {
    height: 400px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: #669999;
    padding: 15px;
}

/*-----Index-----*/

.index-greeting, .about-greeting, .projects-greeting {
    font-family: monospace;
    color: white;
    font-size: 1.8em;
    background: linear-gradient(to right, transparent, black, black, transparent);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 55%;
}

.index-greeting > span, .about-greeting > span, .projects-greeting > span {
    color: darkgreen;
}