@{
    ViewData["Title"] = "About";
}

<a target="_blank" href="https://en.wikipedia.org/wiki/Clojure"><div class="center-content about-greeting">(defn <span>show-about</span> [] (get (ryans-life) "some information"))</div></a>

<div class="about-container-content">
    <p>Passionate and curious about all aspects of computer science and application development.</p>

    <p>Experience with: </p>
    <ul>
        <li>C# / .Net</li>
        <li>Javascript / jQuery</li>
    </ul>

    <p>Currently learning: </p>
    <ul>
        <li>Clojure</li>
        <li>Java</li>
        <li>C++</li>
    </ul>
</div>