@{
    ViewData["Title"] = "Ryan Mathisen";
}

<a target="_blank" href="https://en.wikipedia.org/wiki/C_(programming_language)"><div class="center-content index-greeting">printf(<span>"Hello %s"</span>, user)</div></a>