@{
    ViewData["Title"] = "Contact";
}

<h1 class="center-content">Projects</h1>

<div class="project-container">

</div>

<script>
    var STARRED_REPO_NO = 3;

    $(document).ready(function () {
        for (var i = 0; i < STARRED_REPO_NO; i++) {
            $(".project-container").append("<div class='project-card-wrapper' id='project" + i + "'></div>");
        }
        @*$.ajax({
            url: '@Url.Action("GetProjects")',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                console.log(result);
                for (var i = 0; i < STARRED_REPO_NO; i++) {
                    $('#project' + i).append(
                        "<div class='project-card'>" +
                            "<h3>" + result[i].name + "</h3>" +
                        "</div>"
                    )
                }
            },
            failure: function (exception) {
                alert(exception);
            }
        })*@

        for (var i = 0; i < STARRED_REPO_NO; i++) {
            $('#project' + i).append(
                "<div class='project-card'>" +
                    "<div class='card-title'>TEST PROJECT NAME</div><span class='card-author'>by rtmath</span>" +
                    "<div class='border-gradient-tobottom'></div>" +
                    "<div class='card-space'></div>" +
                    "<div class='border-gradient-totop'></div>" +
                    "<div class='card-description'>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? </div>" +
                    "<div class='card-mini-flex-bottom'>" +
                        "<div class='card-updated-date'>Last updated: 3/3/2017</div>" +
                        "<div class='card-stars'><span>2</span> <img src='/img/star.png' alt='star'/></div>" +
                    "</div>" +
                "</div>"
            )
        }

    })
</script>